body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: #b14343;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header{
    background-color: rgb(16, 92, 92);
    height: auto;
    
}

.container-menu{
    height: 60px;
    background-color: rgb(178, 195, 218);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align:left;

}

.container-menu-second{
    height: 60px;
    background-color: rgb(141, 194, 117);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align:left;

}
.container-logo{
    width: 100%;
    height: inherit;
    background-color: rgb(190, 231, 231);
    text-align: left;
}

.site-title{
    margin: 0;
    padding: 0.36em 0;
}

.container-imagen{
    background-image: url('./bg.png');
    height: 240px;
    /* margin-bottom: 20px; */
}

.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
   
}

.nav-element{
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #312b2b;
    

}

.nav-element:hover{
    text-decoration: underline;
    font-weight: bold;
}

.image-text{
    margin: 0;
    padding: 9% 0;
    text-align: center;
}

.section-1{
    height: 500px;
    background-color: rgb(78, 21, 134);

}

.section-2{
    height: 500px;
    background-color: rgb(156, 152, 152);
}

.section-3{
    height: 500px;
    background-color: rgb(241, 104, 54);
}

.footer{
    height: 200px;
    background-color: rgb(130, 177, 36);
    bottom: 0px;
    /* position: fixed; */
    /* width: 1200px; */
}

.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}

.col-3{
    width: 33.08%;
    height: 470px;
    background-color: aquamarine;
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    text-align: center;
}
.col-5{
    width: 19%;
    height: 470px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color: rgb(255, 177, 148);
}

.service-content{
    padding: 0.5em 0;
}
.service-text{
    padding: 10px;
    text-align: justify;
    bottom: 0;
}

.service-text.memebers{
    font-style: italic; 
}

.section-news > div:first-child{
    margin-bottom: 2px; 
}
.news{
    width: 100%;
    background-color: cadetblue;
    height: 240px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news > div:first-child{
    margin: 0 6px;
}

.news-data{
    width: 49%;
    height: 100%;
    background-color: rebeccapurple;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-image{
    margin: 10px 0;
    padding: 0 40px;
    color: white;
}

.news-text{
    color: white;
    text-align: justify;
    width: 49%;
    padding: 1em 0;
}

.news-text > span.news-url{
    text-align: right;
}


.fa-ambulance.news-logo{
    padding: 0.25em 0;
}


.news-url{
    font-size: 10px;
    float: right;
}

.news-url > a{

    color: #ffffff; 
}

hr{
    color: white;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.second-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
}

.second-menu__item{
    line-height: 3;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: #3e3e3e;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}


/**************************************************************
*/


.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}